body {
    background-color: grey;
}

.jumbotron {
  margin-bottom:0px;


   background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 500px;
}

#background {
  background-color: skyblue;
}

.row {
	padding-top:10px;
}


#col1 {
    background-color:white;
    padding:20px;
}

#col1 p{


}

#col2 {
    background-color:white;
    padding:20px;
}

#col2 p{


}

#col3 {
    background-color:white;
    padding:20px;
}

#col3 p{
  

}
