body {
    background-color: grey;
}

.jumbotron {
  margin-bottom:0px;


   background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 500px;
}

#background {
  background-color: skyblue;
}

.row {
	padding-top:10px;
}



#cv {
	background-color: grey;
}

iframe {
	margin-left:auto;
	margin-right:auto;
}



#col1 {
    background-color:white;
    padding:20px;
}

#col1 p{


}

#col2 {
    background-color:white;
    padding:20px;
}

#col2 p{


}

#col3 {
    background-color:white;
    padding:20px;
}

#col3 p{
  

}

footer {
	margin-top:5px;
	width:100%;
	border-top-style: solid;
	border-width: 1px;
}

footer p {
	float:left;
	margin-left:20px;
	
}


