/* CSS used here was to ensure that the columns on project.html worked smoothly */


#col1 {
    margin-left: auto;
    margin-right: 140px;
}

#col2 {
    margin-right: 140px;
}

#col3 {
      margin-right: auto;
}


/* Once the screen reaches this width, the margins on the columns will get smaller*/
@media screen and (max-width: 1199px) {
#col1 {
	margin-right: 120px;
}

#col2 {
    margin-right: 120px;
}


}

/* Once the screen reaches this width, the margins on the columns will get even smaller*/
@media screen and (max-width: 991px) {
  #col1 {
      margin-left: auto;
      margin-right: 20px;
  }
  #col2 {
      margin-right: 20px;
      padding-right:130px;
  }

  #col2 p{

      padding-right:140px;
  }


  #col3 {
        margin-right: auto;
        padding-right:175px;
  }

  #col3 p{

      padding-right:140px;
  }


}
/* Once the screen reaches this width, this prevents a weird bug which ruined the layout*/
@media screen and (max-width: 767px) {

  #col2 p{

      padding-right:120px;
  }

}

/* Once the screen reaches this width, 
the margins are set to 0px and the width of the columns rapidly increase */

@media screen and (max-width: 575px) {
  #col1 {
      margin-left: 0px;
      margin-right: 0px;
  }

  #col1 p{
      width:auto;
  }

  #col2 {
      margin-right: 0px;
  }

  #col2 p{
	  width:auto;
      padding-right:0px;
  }

  #col3 {
      margin-right: 0px;
  }

  #col3 p{
	  width:auto;
      padding-right:0px;
  }
  
  .row {
	  padding-left:5px;
	  padding-right:5px;
	  
  }

  

}
